<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
</head>
<body>
    <h1>You wanted to delete the username : <%= user.username%></h1>
    <form action="/user/<%= user.id %>?_method=DELETE" method="post">
        <input type="password" name="password">
        <button>Delete permanently</button>
    </form>
</body>
</html>